<header>
<h1> {{section}}</h1>
<a href="/" class={{a1}}>WeatherSearch</a>
    <a href ="/mylocation" class={{a2}} >WeatherNow</a>
    <a href="/about" class={{a3}}>About</a>
    <a href="/help" class={{a4}}>Help</a>
</header>